<template>
	<v-container class="fluid">
		<v-row >
	<v-col cols="4" sm="12" md="4">
        <v-select
          v-model="select"
          :items="sectors"
          item-text="name"
          item-value="id"
          label="Sectores"
          persistent-hint
          return-object
          single-line
		  outlined
		  @change="getZones(select)"
        ></v-select>
      </v-col>
			<v-col cols="4"  sm="12" md="4" v-if=" zones.length > 0 ">
        <v-select
          v-model="zone"
          :items="zones"
          item-text="name"
          item-value="id"
          label="Zonas"
          persistent-hint
          return-object
          single-line
		  outlined
		  @change="getEventsFromZone(zone)"
        ></v-select>
      </v-col>
<v-col cols="4" sm="12" md="4">
        <v-select
          v-model="select"
          :items="colonies"
          item-text="name"
          item-value="id"
          label="Colonias"
          persistent-hint
          return-object
          single-line
		  outlined
			@change="getEventsFromZone"

        ></v-select>
      </v-col>
	
		</v-row>
	  <v-row class="fill-height">
<v-alert v-if="tandeos.length <= 0 "
      icon="mdi-shield-lock-outline"
      prominent
      text
      type="info"
    >
		Selecciona una zona para revisar los eventos
    </v-alert>

		  <v-col v-else>
		      <v-sheet height="64" >
        <v-toolbar flat color="white">
          <v-btn outlined class="mr-4" color="grey darken-2" @click="setToday">
            Hoy
          </v-btn>
          <v-btn fab text small color="grey darken-2" @click="prev">
            <v-icon small>mdi-chevron-left</v-icon>
          </v-btn>
          <v-btn fab text small color="grey darken-2" @click="next">
            <v-icon small>mdi-chevron-right</v-icon>
          </v-btn>
          <v-toolbar-title>{{ title }}</v-toolbar-title>
          <v-spacer></v-spacer>
          <v-menu bottom right>
            <template v-slot:activator="{ on }">
              <v-btn
                outlined
                color="grey darken-2"
                v-on="on"
              >
                <span>{{ typeToLabel[type] }}</span>
                <v-icon right>mdi-menu-down</v-icon>
              </v-btn>
            </template>
            <v-list>
              <v-list-item @click="type = 'day'">
                <v-list-item-title>Dia</v-list-item-title>
              </v-list-item>
              <v-list-item @click="type = 'week'">
                <v-list-item-title>Semana</v-list-item-title>
              </v-list-item>
              <v-list-item @click="type = 'month'">
                <v-list-item-title>Mes</v-list-item-title>
              </v-list-item>
              <v-list-item @click="type = '4day'">
                <v-list-item-title>4 dias</v-list-item-title>
              </v-list-item>
            </v-list>
          </v-menu>
        </v-toolbar>
      </v-sheet>
      <v-sheet height="600">
        <v-calendar
          ref="calendar"
          v-model="focus"
          color="primary"
          :events="tandeos"
          :event-color="getEventColor"
          :now="today"
          :type="type"
          @click:event="showEvent"
          @click:more="viewDay"
          @click:date="viewDay"
        ></v-calendar>
        <v-menu
          v-model="selectedOpen"
          :close-on-content-click="false"
          :activator="selectedElement"
          offset-x
        >
          <v-card
            color="grey lighten-4"
            min-width="350px"
            flat
          >
            <v-toolbar
              :color="selectedEvent.color"
              dark
            >
              <v-btn icon>
                <v-icon>mdi-pencil</v-icon>
              </v-btn>
              <v-toolbar-title v-html="selectedEvent.name"></v-toolbar-title>
              <v-spacer></v-spacer>
              <v-btn icon>
                <v-icon>mdi-heart</v-icon>
              </v-btn>
              <v-btn icon>
                <v-icon>mdi-dots-vertical</v-icon>
              </v-btn>
            </v-toolbar>
            <v-card-text>
              <span v-html="selectedEvent.details"></span>
            </v-card-text>
            <v-card-actions>
              <v-btn
                text
                color="secondary"
                @click="selectedOpen = false"
              >
                Cancel
              </v-btn>
            </v-card-actions>
          </v-card>
        </v-menu>
      </v-sheet>
    </v-col>
  </v-row>

	</v-container>
</template>


<script>
import axios from 'axios';

export default {
	data: () => ({
		zone: '',
		sectors: [],
		zones: [],
		colonies: [],
		today: '2020-06-02',
		/*tandeos: [
			{
				name: 'Tandeo 1',
				start: '2020-06-03',
				color: 'grey darken-1'
			},
			{
				name: 'Reparación',
				start: '2020-06-15',
				end: '2020-06-20',
				color: 'grey darken-1',
			},
		],*/
		tandeos: [],
		select: '',
		items: [
			{ state: 'Florida', abbr: 'FL' },
			{ state: 'Georgia', abbr: 'GA' },
			{ state: 'Nebraska', abbr: 'NE' },
			{ state: 'California', abbr: 'CA' },
			{ state: 'New York', abbr: 'NY' },
		],
		focus: '',
		type: 'month',
		typeToLabel: {
			month: 'Mes',
			week: 'Semana',
			day: 'mes',
			'4day': '4 dias',
		},
		start: null,
		end: null,
		selectedEvent: {},
		selectedElement: null,
		selectedOpen: false,
		events: [],
		colors: ['blue', 'indigo', 'deep-purple', 'cyan', 'green', 'orange', 'grey darken-1'],
		names: ['Meeting', 'Holiday', 'PTO', 'Travel', 'Event', 'Birthday', 'Conference', 'Party'],
	}),
	computed: {
		title () {
			const { start, end } = this
			if (!start || !end) {
				return ''
			}

			const startMonth = this.monthFormatter(start)
			const endMonth = this.monthFormatter(end)
			const suffixMonth = startMonth === endMonth ? '' : endMonth

			const startYear = start.year
			const endYear = end.year
			const suffixYear = startYear === endYear ? '' : endYear

			const startDay = start.day + this.nth(start.day)
			const endDay = end.day + this.nth(end.day)

			switch (this.type) {
				case 'month':
					return `${startMonth} ${startYear}`
				case 'week':
				case '4day':
					return `${startMonth} ${startDay} ${startYear} - ${suffixMonth} ${endDay} ${suffixYear}`
				case 'day':
					return `${startMonth} ${startDay} ${startYear}`
			}
			return ''
		},
		monthFormatter () {
			return this.$refs.calendar.getFormatter({
				timeZone: 'UTC', month: 'long',
			})
		},
	},
	methods: {
		getEventsFromZone(zone){
//			var url = 'http://tandeos.local/admin/api/eventos/zona';
			const url = 'api/eventos/zona';

			axios.post(url, {zone_id: zone.id})
				.then((response) => {
					console.log(response.data);
					this.tandeos = response.data;
				});
			/*this.tandeos = [
				{
					name: 'Tandeo 1',
					start: '2020-06-20',
					color: 'grey darken-1'
				},
				{
					name: 'Reparación',
					start: '2020-06-25',
					end: '2020-06-27',
					color: 'grey darken-1',
				},
				{
					name: 'asueto',
					start: '2020-06-07',
					color: 'blue',
				}
			]*/

		},
		getColonies(){
			const url = '/api/colonias';

			axios.get(url)
				.then((response) => {
					console.log(response.data);
					this.colonies = response.data;
				});
		},
		getZones(sector) {
//			var url = 'http://tandeos.local/admin/api/zonas/sector';
			const url = 'api/zonas/sector';

			axios.post(url, {sector_id: sector.id})
				.then((response) => {
					console.log(response);
					this.zones = response.data;
				});
			/*this.zones = [
				{
					id: 1,
					name: 'Zonal alta',
					sector_id: 1,
				},
				{
					id: 2,
					name: 'Zonal baja',
					sector_id: 1,
				},
				{
					id: 3,
					name: 'Zonal media',
					sector_id: 1,
				},
				{
					id: 4,
					name: 'Zonal centro',
					sector_id: 1,
				},
				{
					id: 5,
					name: 'Zonal oriente',
					sector_id: 1,
				},
				{
					id: 6,
					name: 'Zonal poniente',
					sector_id: 1,
				},

			];*/
		},
		getSectors() {
//			var url = 'http://tandeos.local/admin/api/sectores';
			const url = 'api/sectores';
			axios.get(url)
				.then((response) => {
					console.log(response.data);
					this.sectors = response.data;

				});
		},
		testData() {
			this.sectors = [
				{
					id: 1,
					name: 'sector uno',
				},
				{
					id: 2,
					name: 'sector dos',
				},
				{
					id: 3,
					name: 'sector tres',
				},
				{
					id: 4,
					name: 'sector cuatrp',
				},

			];
		},
		viewDay({ date }) {
			this.focus = date
			this.type = 'day'
		},
		getEventColor(event) {
			return event.color
		},
		setToday() {
			this.focus = this.today
		},
		prev() {
			this.$refs.calendar.prev()
		},
		next() {
			this.$refs.calendar.next()
		},
		showEvent({ nativeEvent, event }) {
			const open = () => {
				this.selectedEvent = event
				this.selectedElement = nativeEvent.target
				setTimeout(() => this.selectedOpen = true, 10)
			}

			if (this.selectedOpen) {
				this.selectedOpen = false
				setTimeout(open, 10)
			} else {
				open()
			}

			nativeEvent.stopPropagation()
		},
		updateRange({ start, end }) {
			const events = []

			const min = new Date(`${start.date}T00:00:00`)
			const max = new Date(`${end.date}T23:59:59`)
			const days = (max.getTime() - min.getTime()) / 86400000
			const eventCount = this.rnd(days, days + 20)

			for (let i = 0; i < eventCount; i++) {
				const allDay = this.rnd(0, 3) === 0
				const firstTimestamp = this.rnd(min.getTime(), max.getTime())
				const first = new Date(firstTimestamp - (firstTimestamp % 900000))
				const secondTimestamp = this.rnd(2, allDay ? 288 : 8) * 900000
				const second = new Date(first.getTime() + secondTimestamp)

				events.push({
					name: this.names[this.rnd(0, this.names.length - 1)],
					start: this.formatDate(first, !allDay),
					end: this.formatDate(second, !allDay),
					color: this.colors[this.rnd(0, this.colors.length - 1)],
				})
			}

			this.start = start
			this.end = end
			this.events = events
		},
		nth(d) {
			return d > 3 && d < 21
				? 'th'
				: ['th', 'st', 'nd', 'rd', 'th', 'th', 'th', 'th', 'th', 'th'][d % 10]
		},
		rnd(a, b) {
			return Math.floor((b - a + 1) * Math.random()) + a
		},
		formatDate(a, withTime) {
			return withTime
				? `${a.getFullYear()}-${a.getMonth() + 1}-${a.getDate()} ${a.getHours()}:${a.getMinutes()}`
				: `${a.getFullYear()}-${a.getMonth() + 1}-${a.getDate()}`
		},
	},
	mounted () {
		//	this.$refs.calendar.checkChange()
		this.getSectors();
		//this.getZones();
		this.getColonies();
	},

}
</script>
