<template>
	<v-row justify="center">
		<v-dialog v-model="dialog" persistent >
			<v-card >
				<v-card-title class="headline">Registrar nueva colonia</v-card-title>
			<v-card-text v-if="!noZones">
								<v-container>
					<v-row>
<v-col cols="12" sm="12" md="12">
	<v-switch v-model="sector.is_macrosector" disabled :label="`Es macrosector: ${is_macrosector ? 'si' : 'no'}`"></v-switch>
							<v-select
          v-model="sector"
          :items="sectors"
          item-text="name"
          item-value="id"
          label="Sectores"
          persistent-hint
          return-object
          single-line
		  @change="zonesFromSector"
        ></v-select>

								<v-select v-if="zones_filtered.length > 0"
          v-model="select"
          :items="zones_filtered"
          item-text="name"
          item-value="id"
          label="Zonas"
          persistent-hint
          return-object
          single-line

	  :disabled="is_macrosector"
        ></v-select>
<v-alert
      border="bottom"
      colored-border
      type="warning"
      elevation="2"
	  v-else
    >
		No hay zonas creadas en este sector, por favor elege otra zona
</v-alert>


							<v-text-field v-model="name" label="Nombre de la nueva colonia*" required></v-text-field>
						</v-col>
					</v-row>
				</v-container>
				<small>*Indica los campos requeridos</small>
			</v-card-text>
<v-alert
      border="bottom"
      colored-border
      type="warning"
      elevation="2"
	  v-else
    >
		No hay zonas creadas, por favor primero crea una zona
          </v-alert>

			<v-card-actions>
				<v-spacer></v-spacer>
				<v-btn color="green darken-1" text @click="cancel">Cancelar</v-btn>
				<v-btn color="green darken-1" :disabled="noZones || name == ''" text @click="addColony">Guardar</v-btn>
			</v-card-actions>
			</v-card>
					</v-dialog>
	</v-row>
</template>


<script>
import axios from 'axios';
import Swal from 'sweetalert2';
export default {
	props: {
		dialog: Boolean,
		sectors: Array,
		zones: Array,
		user: Object,
	},
	data () {
		return {
			sector: {
				is_macrosector: false,
			},
			select: '',
			name: '',
			zones_filtered: [],
		}
	},
	computed: {
		noZones() {
			var band = Boolean(this.zones.lenght > 0);
			console.log(band);
			return band
		},
		is_macrosector() {
			var band = Boolean(this.sector.is_macrosector);
			if(band){
				this.select = this.zones_filtered[0];
			}
			return band;
		}
	},
	methods: {
		zonesFromSector(){
			//var res = this.sectors.map((sector) => sector.id == this.sector.id);

			var res = this.zones.filter((zone) => zone.sector_id == this.sector.id);

			console.log(res);
			this.zones_filtered = res;
		},
		cancel() {
			this.$emit('closeDialog', 'colony')
		},

		addColony(){
			const url = 'api/colonias/crear';
			axios.post(url, {name: this.name, zone_id: this.select.id, api_token: this.user.api_token})
				.then((response) => {
					console.log(response.data);
					if(response.data.status != 'error'){
						this.name = '';
						this.$emit('updateData', 'colonias', response.data.colony);
						this.$emit('closeDialog', 'colony')

					}
					Swal.fire(
						response.data.desc,
						'',
						response.data.status
					);


				});
			console.log('haciendo peticion');
		}
	}
}
</script>
