<template>
  <v-app id="inspire">
    <v-navigation-drawer
      v-model="drawer"
      app
    >
<!--      <v-list dense>
        <v-list-item link>
          <v-list-item-action>
            <v-icon>mdi-home</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title>Home</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <v-list-item link>
          <v-list-item-action>
            <v-icon>mdi-email</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title>Contact</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
</v-list>-->
    </v-navigation-drawer>

    <v-app-bar
      app
      color="blue"
      dark
    >
      <v-app-bar-nav-icon ></v-app-bar-nav-icon>
      <v-toolbar-title>Tandeos Xalapa By XalapaCode</v-toolbar-title>
    </v-app-bar>

    <v-content>
      <v-container
        class="fill-height"
        fluid
      >
        <v-row
          align="center"
        >
          <v-col class="text-center">
			  <calendar-component/>
          </v-col>
        </v-row>
      </v-container>
    </v-content>
    <v-footer
      color="blue"
      app
    >
      <span class="white--text">&copy; XalapaCode 2020</span>
    </v-footer>
  </v-app>
</template>

<script>
import CalendarComponent from './CalendarComponent.vue';
  export default {
	  components: {
		  CalendarComponent,
	  },
    props: {
      source: String,
    },

    data: () => ({
      drawer: false,
    }),
  }
</script>

